<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
         <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
         <!--xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee-->
  <!--http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
         <!--version="3.1">-->
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!--<welcome-file-list>-->
        <!--<welcome-file>objects.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!--JSP Page xml configuration -->
   <!-- <servlet>
    <servlet-name>initJSP</servlet-name>
    <jsp-file>/initpage.jsp</jsp-file>
        <init-param>
            <param-name>dafaultUser</param-name>
            <param-value>Dafault User Name</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initJSP</servlet-name>
        <url-pattern>/initpage.jsp</url-pattern>
    </servlet-mapping>-->

    <!--servlet xml configuration-->
    <!--<servlet>
        <servlet-name>xmlServlet</servlet-name>
        <servlet-class>com.kanchi.servlet.t5.xmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xmlServlet</servlet-name>
        <url-pattern>/xmlServletpath</url-pattern>
    </servlet-mapping>-->


</web-app>